<sebm-google-map [latitude]="center[1]" [longitude]="center[0]" (window:resize)="onResize($event)">
  <span *ngFor="let city of cities">
  <sebm-google-map-marker *ngIf="city.jurisdictiongeo" [latitude]="city.jurisdictiongeo.coordinates[1]" [longitude]="city.jurisdictiongeo.coordinates[0]">
    <sebm-google-map-info-window [disableAutoPan]="true">
      Welcome to the city of {{city.jurisdictiongeo_city}} with a population of... {{city.population}}
      <br>
      <button type="button" class="btn btn-info" (click)="goToCity(city.jurisdictiongeo_city)">View City</button>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>

  </span>
</sebm-google-map>