.sebm-google-map-container {
  height: calc(100vh - 56px);
  padding: 0px;
  margin: 0px;
}

.cityInfo{
  font-size: 2.5em !important;
  font-family: "Tahoma";
}

.progress-bar{
  background-color: rgba(25,0,0,0);
}
